.container{color: rgb(135, 67, 194);
border-radius: 30px;
background-color: rgb(82, 179, 129);
padding: 10px;
margin: 10px;
position: relative;}

.container:hover{cursor: pointer;
transition: 3s;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
transform: scale(1.05);
transition: box-shadow 1s, transform 1s;
background-color: rgb(34, 190, 81);}
 
.container img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 10px;
  }  
.tarB{background-color: rgb(229, 91, 91);
align-items: right;
border-radius: 30px;}
